
.DS_Store
.idea/Java.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
JAVAFX/.DS_Store
JAVAFX/program/controllers/PersonEditingController.java
JAVAFX/program/controllers/PersonOverviewController.java
JAVAFX/program/Main.java
JAVAFX/program/modules/Person.java
JAVAFX/program/styles/DarkTheme.css
JAVAFX/program/utils/DateUtil.java
JAVAFX/program/views/main.fxml
JAVAFX/program/views/personEditDialog.fxml
JAVAFX/program/views/root.fxml
README.md
Rest-запросы/.DS_Store
Rest-запросы/HELP.md
Rest-запросы/java_project.iml
Rest-запросы/mvnw
Rest-запросы/mvnw.cmd
Rest-запросы/pom.xml
Rest-запросы/src/main/java/com/example/demo/controllers/Controller.java
Rest-запросы/src/main/java/com/example/demo/DemoApplication.java
Rest-запросы/src/main/java/com/example/demo/models/Role.java
Rest-запросы/src/main/java/com/example/demo/models/Status.java
Rest-запросы/src/main/java/com/example/demo/models/StatusTask.java
Rest-запросы/src/main/java/com/example/demo/models/Task.java
Rest-запросы/src/main/java/com/example/demo/models/User.java
Rest-запросы/src/main/java/com/example/demo/repo/RoleRepo.java
Rest-запросы/src/main/java/com/example/demo/repo/StatusRepo.java
Rest-запросы/src/main/java/com/example/demo/repo/StatusTaskRepo.java
Rest-запросы/src/main/java/com/example/demo/repo/TaskRepo.java
Rest-запросы/src/main/java/com/example/demo/repo/UserRepo.java
Rest-запросы/src/main/resources/application.properties
Rest-запросы/src/test/java/com/example/demo/DemoApplicationTests.java
junit/User.java
junit/.idea/misc.xml
junit/.idea/modules.xml
junit/Main.java
junit/Sex.java
junit/Trello.iml
junit/User.java
junit/.idea/misc.xml
junit/.idea/modules.xml
junit/Main.java
junit/Sex.java
junit/Trello.iml
junit/User.java
